.container {
  background-color: black;
  width: 1000px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15;
}
.top-side {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: aliceblue;
  font-size: 150px;
  margin: 0px;
  display: flex;
  justify-content: center;
}
h2 {
  color: aliceblue;
  font-size: 55px;
  margin: 0px;
}
p {
  color: gold;
  font-size: 24px;
}
.button-side {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
  width: 100%;
  height: 20vh;
  align-items: center;
}

.button1 {
  background-color: yellow;
  width: 200px;
  height: 80px;
  border-radius: 45px;
  border: 1px solid rgb black;
}
.button2 {
  background-color: green;
  width: 200px;
  height: 80px;
  border: 1px solid rgb brown;
  border-radius: 45px;
}

.p1 {
  align-items: center;
  justify-content: center;
  color: aliceblue;
  display: flex;
  flex-direction: column;
}
.p2 {
  color: silver;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
